section.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

a {
    text-decoration: none;
}

button {
    width: 400px; 
    height: 60px;  
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    position: relative;
}

button:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}

button#ig { 
    background-image: linear-gradient(135deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
}

button#yt { 
    background-color: rgb(138, 6, 6);
}

button#ttk { 
    background-color: rgb(33, 31, 31);
}

button#dc { 
    background-color: rgb(112, 112, 203);
}

button#mail { 
    background-color: rgb(207, 207, 207);
}

button > img {
    width: 12%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

button > p {
    color: white;
    font-weight: 600;
    margin: 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 650px) {
  section.img {
    display: none;
  }
}