body {
    background-color: var(--backgroundmain);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    padding: 10px 20px;
    background-color: var(--backgroundmain);
    justify-content: space-between;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

div#head {
    display: flex;
    align-items: center;
}

div#head > img {
    max-width: 60px;
    min-width: 60px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

div#head > h1 {
    font-family: var(--fontmain);
    padding-left: 20px;
    color: rgb(255, 255, 255);
    text-shadow: var(--textshadow);
}

nav {
    display: flex;
    align-items: center;
}

nav > a {
    text-decoration: none;
    color: rgb(210, 209, 209);
    text-shadow: var(--textshadow);
    font-family: var(--fontmain);
    font-weight: 500;
    font-size: 20px;
    padding: 0px 10px;
}

nav > a:hover {
    transform: scale(1.05);
    color: rgb(3, 3, 197);
    transition: all 0.2s;
}

main {
    padding: 60px 20px;
    display: flex;
    flex-direction: row;
}

section.img {
    flex: 1 1 200px;
    display: flex;
    align-items: center;
}

img.main {
    max-width: 450px;
    width: 100%;
}

section.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 450px;
    max-width: 700px;
    padding-right: 50px;
}

h2 {
    font-size: 30px;
    color: white;
    font-family: var(--fontmain);
    text-shadow: var(--textshadow);
}

p {
    font-size: 18px;
    color: rgb(216, 216, 216);
    text-align: justify;
    padding: 10px 0px;
    text-shadow: var(--textshadow);
}